body{
    font-family:'黑体';
    background-image: url("{% static 'images/首页背景12.jpg' %}");
}

a{
text-decoration:none;
}

nav{
width:1000px;
margin:auto;
}

section{
margin:30px 0px;
}

section h2{
margin-block-end:0px;
}

section p{
text-indent:34px;
font-size:20px;
margin-block-start:0.5em;
margin-block-end:0.5em;
}

section div p{
text-indent:0px;
}

hr{
border:1px dotted #ddd;
}

footer{
width:100%;
float:left;
text-align:center;
margin:30px 0px;
}

.navigation{
width:100%;
height:45px;
background-color:#228B22;
}

.logo{
width:150px;
}

.logo a{
font-size:30px;
float:left;
line-height:44px;
height:44px;
color:#fff;
font-weight:bold;
text-decoration:none;
}

.menu{
width:800px;
float:right;
margin-left:50px;
font-size:24px;
}

.menu a{
margin-left:15px;
line-height:44px;
height:100%;
color:#fff;
}

.image-list {
    list-style: none; /* 移除默认的项目符号（圆点） */
    padding: 0; /* 移除默认的内边距 */
    margin: 0; /* 移除默认的外边距 */
}
.image-list li {
    background-color: #13641A; /* 设置灰绿色背景 */
    padding: 10px; /* 为<li>元素添加内边距 */
    margin-bottom: 10px; /* 为<li>元素设置底部边距，以便在列表项之间留出空间 */
    display: inline-block; /* 设置<li>元素为内联块级元素，使其可以水平排列 */
}

.image-list li p {
    color: white; /* 设置文字颜色为白色 */
    text-indent: 0px;
}

.image-list li img {
    width: 200px; /* 使图片填满<li>元素的宽度 */
    height: 150px; /* 保持图片的纵横比 */
    display: block; /* 使图片作为块级元素，以便它能够正确地填充<li>的宽度 */
}

.menu .active{
border-bottom:3px solid #fff;
}
.search-form {
margin: 0 auto;
max-width: 300px;
}
.content{
width:1000px;
margin-bottom:15px;
margin-left:auto;
margin-right:auto;
}

.list{
width:690px;
min-height:750px;
margin-right:30px;
float:left;
}

.picture{
width:1000px;
min-height:750px;
text-align:center;
vertical-align: middle;
}
.detail{
width:690px;
min-height:750px;
margin-right:30px;
float:left;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #228B22;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #228B22;
    min-width: 100px; /* 保持最小宽度 */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition: opacity 0.3s ease;
    opacity: 0;
    padding: 4px 0; /* 减少内边距以缩小高度 */
}

.dropdown-content a {
    color: white;
    padding: 4px 12px; /* 减少内边距以缩小高度 */
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #7CCD7C;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
    opacity: 1;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.tip{
line-height: 750px;
text-align:center;
vertical-align: middle;
}

.list h2{
margin-top:30px;
}

.list div{
font-size:20px;
}

input,select{
    box-sizing:border-box;
}

.form{
width:1000px;
min-height:750px;
margin-right:30px;
float:left;
font-size:20px;
}

.form h2{
margin-top:30px;
}

.form input,select{
width:180px;
height:30px;
}

.form textarea{
width:600px;
height:300px;
vertical-align:top;
}

.button{
font-family:'黑体';
margin-left:60px;
border:0px;
border-radius:3px;
background:#169BD5;
color:#fff;
font-size:20px;
}

.author{
min-height:160px;
}

.author div{
float:left;
margin-right:20px;
}

.author p{
text-indent:0px;
margin-block-start:0.5em;
margin-block-end:0.5em;
}

.author div img{
width:120px;
height:172px;
}

.table {
    border-collapse: collapse; /* 确保边框合并为一个 */
    width: 100%;
}

.table th,
.table td {
    border: 1px solid #ccc; /* 每个单元格都有边框 */
    padding: 8px;
    text-align: left;
    background-color: #f9f9f9; /* 添加背景颜色 */
    font-size: 12px; /* 调整字体大小 */
    color: #333; /* 设置文本颜色 */
    transition: background-color 0.3s ease; /* 添加过渡效果 */
}

.table td:hover {
    background-color: #e0e0e0; /* 悬停时改变背景颜色 */
}


.table thead th {
    background-color: #f2f2f2; /* 可选：设置表头背景色 */
}

/* style.css 文件中的 pre 标签规则 */
pre {
    white-space: pre-wrap; /* 保留空白符序列，但允许自动换行 */
    word-break: break-all; /* 在单词内换行 */
    max-width: 100%; /* 确保不会超出容器宽度 */
    font-size: 12px; /* 设置字体大小为 12px，可以根据需要调整 */
}

/* 新增 qseqid-column 类的规则 */
.qseqid-column {
    width: 200px; /* 设置列宽为 200px，可以根据需要调整 */
}
.sidebar{
width:250px;
margin-left:30px;
float:right;
}

.sidebar div{
margin:30px 0px;
height:auto;
overflow:hidden;
}

.sidebar h3{
margin-block-start:0px;
margin-block-end:0px;
margin-left:5px;
}

.sidebar a{
font-size:16px;
height:22px;
line-height:22px;
width:70px;
float:left;
margin:10px 5px;
text-align:center;
border:1px solid #999;
border-radius:5px;
}

.sidebar_button{
font-size:16px;
height:22px;
line-height:22px;
width:70px;
float:left;
margin:10px 5px;
text-align:center;
border:1px solid #999;
border-radius:5px;
cursor:pointer;
}

.success{
color:#0a8e0e;
}
.error{
color:#e10602;
}
