<!-- search.html -->
{% load static %}
<style>
    :root {
        --primary-color: #3e8e41;
        --hover-color: #7CCD7C;
        --input-height: 50px;
        --button-height: 50px;
        --border-radius: 4px;
        --transition-speed: 0.3s;
    }
    body {
        background-image: url("{% static 'images/首页背景9.jpg' %}");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .search-form {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        max-width: 600px;
        padding: 20px;
        margin-top: 20em; /* 上边距：20行空白 */
        margin-bottom: 20em; /* 下边距：20行空白 */
    }

    .search-form input[type="text"] {
        width: 70%;
        padding: 10px;
        height: var(--input-height);
        border: 1px solid #ccc;
        border-radius: var(--border-radius);
        font-size: 16px;
        transition: border-color var(--transition-speed);
    }

    .search-form input[type="text"]:focus {
        border-color: var(--primary-color);
        outline: none;
    }

    .search-form input[type="text"]::placeholder {
        color: #999;
    }

    .search-form button {
        padding: 10px 20px;
        height: var(--button-height);
        background-color: var(--primary-color);
        color: white;
        border: none;
        border-radius: var(--border-radius);
        cursor: pointer;
        font-size: 16px;
        margin-left: 10px;
        transition: background-color var(--transition-speed);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .search-form button:hover {
        background-color: var(--hover-color);
    }

    .search-form button:disabled {
        background-color: #ccc;
        cursor: not-allowed;
    }
</style>

<form class="search-form" action="{% url 'search_species' %}" method="get">
    <input type="text" name="q" placeholder="输入物种名..." required>
    <button type="submit">搜索</button>
</form>