{% extends '基本.html' %}
{% load static %}  <!-- 加载静态文件标签 -->

{% block 标题 %}鱼类环境DNA数据库 - 首页{% endblock %}
{% block 页面内容 %}
<style>
    body {
        margin: 10;
        padding: 0;
        background-color: #f4f4f9;
        background-image: url("{% static 'images/首页背景12.jpg' %}");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    h2 {
        text-align: left;
        color: white;
        font-family: Arial, sans-serif; /* 设置字体 */
        font-size: 20px; /* 设置字体大小 */
    }

    .image-list-container {
        overflow-x: scroll; /* 添加水平滚动 */
        white-space: nowrap; /* 防止内容换行 */
        padding: 10px;
    }

    .image-list {
        display: inline-flex; /* 使用inline-flex以适应滚动容器 */
        list-style-type: none; /* 去掉默认的列表样式 */
        padding: 0;
        margin: 0;
    }

    .image-list li {
        margin-right: 10px; /* 每个图片之间的间距 */
        display: inline-block; /* 确保li元素不会换行 */
    }

    .image-list img {
        max-width: 300px; /* 设置图片的最大宽度 */
        height: auto; /* 保持图片比例 */
    }
    .center-text {
    text-align: center; /* 居中对齐 */
    margin: 0; /* 移除默认的段落外边距 */
}
}
</style>
<br><br><br><br>
<h2 style="font-size: 30px;">鱼类eDNA数据库</h2>
<h2>(Fish environmental DNA database)</h2>
<h2 style="text-indent: 2em;">鱼类eDNA数据库由中国鱼类DNA条形码和品种信息组成的eDNA数据库，涉及生物类群包含1707余种淡水鱼类，包含COX1、12S、16S、完整线粒体等条形码序列。</h2>
<h2 style="text-indent: 2em;">鱼类eDNA数据库收集了多个不同的数据库*条eDNA序列。依托广东工业大学生态环境与资源学院，为开发新型生物信息学技术，为鱼类生物多样性研究提供数据支持。</h2>

<br><br><br>
<div class="image-list-container">
    <ul class="image-list">
        <li>
            <img src="{% static 'images/Lethenteron reissneri.png' %}" alt="">
            <p class="center-text">Lethenteron reissneri<br>雷氏叉牙七鳃鳗</p>
        </li>
        <li>
            <img src="{% static 'images/Acipenser sinensis.png' %}" alt="">
            <p class="center-text">Acipenser sinensis<br>中华鲟</p>
        </li>
        <li>
            <img src="{% static 'images/Carassius auratus.png' %}" alt="">
            <p class="center-text">Carassius auratus<br>鲫</p>
        </li>
        <li>
            <img src="{% static 'images/Clarias gariepinus.png' %}" alt="">
            <p class="center-text">Clarias gariepinus<br>尖齿胡鲶</p>
        </li>
        <li>
            <img src="{% static 'images/Glossogobius giuris.png' %}" alt="">
            <p class="center-text">Glossogobius giuris<br>舌鰕虎</p>
        </li>
        <li>
            <img src="{% static 'images/Anguilla marmorata.png' %}" alt="">
            <p class="center-text">Anguilla marmorata<br>花鳗鲡</p>
        </li>
        <li>
            <img src="{% static 'images/Doryichthys boaja.png' %}" alt="">
            <p class="center-text">Doryichthys boaja<br>宝珈枪吻海龙</p>
        </li>
        <li>
            <img src="{% static 'images/Hucho taimen.png' %}" alt="">
            <p class="center-text">Hucho taimen<br>哲罗鲑</p>
        </li>
        <li>
            <img src="{% static 'images/Perca schrenkii.png' %}" alt="">
            <p class="center-text">Perca schrenkii<br>伊犁鲈</p>
        </li>
        <li>
            <img src="{% static 'images/Megalops cyprinoides.png' %}" alt="">
            <p class="center-text">Megalops cyprinoides<br>大海鲢</p>
        </li>
    </ul>
</div>
{% endblock %}
